body {
  font-family: Arial, sans-serif;
  background-color: #8be799;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e9e2e2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.new-post h1 {
  text-align: center;
  color: #333;
  font-size: 80px;
  background-color: #9bd47c;

}

.heading h1 {
  text-align: center;
  color: #333;

}

.question-create {
  text-align: center;
  background-color: #60b47d;
}

h3 {
  text-align: center;
  font-size: 28px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

input[type="text"],
textarea,
select {
  width: 800px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.prob {
  width: 800px;
  height: px;
   resize: none;
}


select {
  width: 100%;
}

button {
  display: block;
  text-align: center;
  background-color: #6dc9d5;
  color: #fff;
  border: none;
  border-radius: 20px;
  height: 100px;
  cursor: pointer;
  margin-left: 38%;
  padding: 10px;
  width: 200px;
  font-size: 20px;
}

button:hover {
  background-color: #0f4c7efa;
}

h2 {
  background-color: rgb(107, 186, 193);
}

.abstract {
  height: px;
  width: 800px;
  resize: none;
}

.abstract-text {
  height: px;
  width: 800px;
  resize: none;
}

.Select-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.CreateQuestion,
.CreateArticle {
  display: none;
}

/* Show the appropriate component based on selectedPostType */
.Select-type select[value="question"]~.CreateQuestion {
  display: block;
}

.Select-type select[value="article"]~.CreateArticle {
  display: block;
}